
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


a {
    text-decoration: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}




@media (min-width: 320px) {
    .section-footer {
        padding: 40px 0px;
    }
}

.footer-menu {
    display: inline-flex;
    flex-wrap: wrap;
    gap:25px 40px;
    align-items: flex-start;
    margin-right: 55px ;
    text-align: left;
    width: 280px;
}

.footer-menu-item {
    font-size: 14px;
    text-wrap: nowrap;
}


.footer-page-nav {
    display: flex;
    justify-content: space-between;
    /* Разделяет блоки равномерно по горизонтали */
}


.footer-menu-item {
    list-style: none;
    /* Убирает маркеры списка */
}


